<head>
<link rel="stylesheet" type="type/css" href="css/style.css">
</head>


<form method="post" action="/page2" class="input">
	<p>Enter location here: <input style="color: black" type="text" name="user_input"></p>
	<input style="color: black" type="submit">

</form>